workflow/processing-customer-wf/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "For_each_Message": {
                "type": "foreach",
                "foreach": "@triggerOutputs()?['body']",
                "actions": {
                    "Parse_JSON": {
                        "type": "ParseJson",
                        "inputs": {
                            "content": "@replace(item()?['contentData'],'\\','')",
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "method": {
                                        "type": "string"
                                    },
                                    "message": {
                                        "type": "object",
                                        "properties": {
                                            "id": {
                                                "type": "string"
                                            },
                                            "customerName": {
                                                "type": "string"
                                            },
                                            "customerEmail": {
                                                "type": "string"
                                            },
                                            "customerPhone": {
                                                "type": "string"
                                            },
                                            "customerAddress": {
                                                "type": "object",
                                                "properties": {
                                                    "street": {
                                                        "type": "string"
                                                    },
                                                    "city": {
                                                        "type": "string"
                                                    },
                                                    "state": {
                                                        "type": "string"
                                                    },
                                                    "zip": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "Switch_on_method": {
                        "type": "Switch",
                        "expression": "@body('Parse_JSON')?['method']",
                        "default": {
                            "actions": {}
                        },
                        "cases": {
                            "Case_-_Post": {
                                "actions": {
                                    "Create_item": {
                                        "type": "ServiceProvider",
                                        "inputs": {
                                            "parameters": {
                                                "databaseId": "ods",
                                                "containerId": "customer",
                                                "item": "@body('Parse_JSON')?['message']",
                                                "isUpsert": true
                                            },
                                            "serviceProviderConfiguration": {
                                                "connectionName": "AzureCosmosDB",
                                                "operationId": "CreateOrUpdateDocument",
                                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                            }
                                        }
                                    }
                                },
                                "case": "POST"
                            },
                            "Case_-_Put": {
                                "actions": {
                                    "Update_item": {
                                        "type": "ServiceProvider",
                                        "inputs": {
                                            "parameters": {
                                                "databaseId": "ods",
                                                "containerId": "customer",
                                                "item": "@body('Parse_JSON')?['message']",
                                                "isUpsert": true
                                            },
                                            "serviceProviderConfiguration": {
                                                "connectionName": "AzureCosmosDB",
                                                "operationId": "CreateOrUpdateDocument",
                                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                            }
                                        }
                                    }
                                },
                                "case": "PUT"
                            },
                            "Case_-_Delete": {
                                "actions": {
                                    "Delete_an_item": {
                                        "type": "ServiceProvider",
                                        "inputs": {
                                            "parameters": {
                                                "databaseId": "ods",
                                                "containerId": "customer",
                                                "itemId": "@body('Parse_JSON')?['message']?['id']",
                                                "partitionKey": "/customerAddress/city"
                                            },
                                            "serviceProviderConfiguration": {
                                                "connectionName": "AzureCosmosDB",
                                                "operationId": "DeleteDocument",
                                                "serviceProviderId": "/serviceProviders/AzureCosmosDB"
                                            }
                                        }
                                    }
                                },
                                "case": "DELETE"
                            }
                        },
                        "runAfter": {
                            "Parse_JSON": [
                                "SUCCEEDED"
                            ]
                        }
                    },
                    "Complete_the_message": {
                        "type": "ServiceProvider",
                        "inputs": {
                            "parameters": {
                                "messageId": "@item()?['messageId']"
                            },
                            "serviceProviderConfiguration": {
                                "connectionName": "serviceBus",
                                "operationId": "completeMessage",
                                "serviceProviderId": "/serviceProviders/serviceBus"
                            }
                        },
                        "runAfter": {
                            "Switch_on_method": [
                                "SUCCEEDED"
                            ]
                        }
                    }
                },
                "runAfter": {}
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_messages_are_available_in_a_queue": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "queueName": "customer",
                        "isSessionsEnabled": false
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "serviceBus",
                        "operationId": "receiveQueueMessages",
                        "serviceProviderId": "/serviceProviders/serviceBus"
                    }
                }
            }
        }
    },
    "kind": "Stateless"
}